$black: #000000;
$yellow: #FFD700; /* Gold */
$white: #FFFFFF;
$navy-blue: #001f3f; /* Dark Navy Blue */
$gold: #FFD700;
$brown: #A52A2A;

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: $navy-blue;
  text-align: center;
  margin-bottom: 30px;
}

mat-card {
  background-color: $white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;

  mat-card-title {
    color: $navy-blue;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  mat-card-content {
    padding: 20px;
  }

  .mat-form-field {
    margin-bottom: 20px;
  }

  mat-error {
    color: $brown;
  }
}

.upload-section {
  margin-bottom: 20px;

  label {
    font-weight: bold;
    color: $black;
  }

  input[type="file"] {
    margin-top: 10px;
  }

  button {
    margin-top: 10px;
    background-color: $gold;
    color: $black;
    &:hover {
      background-color: darken($gold, 10%);
    }
  }
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  button {
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .mat-raised-button {
    &.mat-primary {
      background-color: $yellow;
      color: $black;
    }

    &.mat-warn {
      background-color: $brown;
      color: $white;
    }
  }
}
