<div class="container">
  <h1>Halls</h1>
  <button
    type="button"
    class="btn btn-create"
    *ngIf="currentUserRole === 'Admin' || currentUserRole === 'Staff'"
    (click)="GoToCreateHallPage()"
  >
    Add A New Hall
  </button>
  <button (click)="goBack()">Back</button>
  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="searchDescription"
      placeholder="Search by Description"
      (input)="search()"
    />
    <input
      type="text"
      [(ngModel)]="searchCapacity"
      placeholder="Search by Capacity"
      (input)="search()"
    />
  </div>
  <table>
    <thead>
      <tr>
        <th (click)="sortProducts('name')">Name</th>
        <th (click)="sortProducts('description')">Description</th>
        <th (click)="sortProducts('dateCreated')">Date Created</th>
        <th (click)="sortProducts('availability')">Availability</th>
        <th (click)="sortProducts('isActive')">Active</th>
        <th (click)="sortProducts('capacity')">Capacity</th>
        <th>Update/Deletion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hall of filteredHalls">
        <td>{{ hall.name }}</td>
        <td>{{ hall.description }}</td>
        <td>{{ hall.dateCreated | date : "short" }}</td>
        <td>{{ hall.availability }}</td>
        <td>{{ hall.isActive }}</td>
        <td>{{ hall.capacity }}</td>
        <td>
          <button
            class="btn btn-edit"
            *ngIf="currentUserRole === 'Admin'"
            (click)="editHall(hall.hallID)"
          >
            Edit
          </button>
          <button
            class="btn btn-delete"
            *ngIf="currentUserRole === 'Admin'"
            (click)="deleteHall(hall.hallID)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
