<div class="room-availability-container">
  <h2>Check Room Availability</h2>

  <form [formGroup]="availabilityForm" (ngSubmit)="checkAvailability()">
    <div class="form-group">
      <label for="checkIn">Check-In Date</label>
      <input type="date" id="checkIn" formControlName="checkIn" required>
    </div>

    <div class="form-group">
      <label for="checkOut">Check-Out Date</label>
      <input type="date" id="checkOut" formControlName="checkOut" required>
    </div>

    <button type="submit" class="check-availability-btn mat-raised-button mat-primary" [disabled]="availabilityForm.invalid || isLoading">
      {{ isLoading ? 'Checking...' : 'Check Availability' }}
    </button>
  </form>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div class="available-rooms" *ngIf="availableRooms.length > 0">
    <h3>Available Rooms</h3>
    <div class="room-card" *ngFor="let room of availableRooms">
      <img [src]="room.imageUrl" alt="{{room.name}} at Sunflower Guesthouse" class="room-image" matTooltip="View details about {{room.name}}">
      <div class="room-info">
        <h3>{{room.name}}</h3>
        <p>{{room.description}}</p>
        <p><strong>Deluxe Room</strong> {{room.name}}</p>
        <p><strong>Amenities:</strong> {{room.amenities}}</p>
        <p class="room-price">From R{{room.price}}</p>
        <a [routerLink]="['/book-a-room', room.room_ID]" class="book-now-btn mat-raised-button mat-primary" matTooltip="Book this room">Book Now</a>
    </div>
  </div>
</div>
<div>
  <app-back-button></app-back-button>
</div>
