.toolbar {
  background-color: #f8f9fa;
  color: #332900;
  .title {
    font-weight: bold;
  }
  .spacer {
    flex: 1 1 auto;
  }
}

.sidenav-container {
  height: 100%;
  background-color: #665200;
}

.sidenav {
  width: 250px;
  background-color: #665200;
  color: white;

  .mat-list-item {
    font-weight: bold;
    &.active-link {
      background-color: #fffae6;
      color: #332900;
    }
  }
}

.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;

  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

    .card {
      background-color: #fff0b3;
      color: #332900;
      cursor: pointer;

      &.active-card {
        border: 2px solid #ffd633;
      }

      mat-card-title {
        font-weight: bold;
      }
    }
  }
}
