.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5dc; /* Light beige */
}

.staff-form {
  background-color: #f5ea88;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

h1 {
  text-align: center;
  color: #6a4b3a; /* Darker brown */
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  color: #6a4b3a; /* Darker brown */
}

.alert {
  color: red;
}

.btn-primary {
  background-color: #f5c542;
  border-color: #f5c542;
}

.btn-primary:disabled {
  background-color: rgba(245, 82, 139, 0.5);
  border-color: rgba(245, 82, 139, 0.5);
}
