<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box" *ngIf="!isLoading">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <form class="form" [formGroup]="loginFormGroup">
      <mat-card-content>
        <!-- Email Field -->
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input 
            matInput 
            placeholder="Enter your email address" 
            formControlName="Email" 
            matTooltip="Please enter your registered email address"
            aria-label="Email"
          >
        </mat-form-field>
        
        <!-- Password Field -->
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input 
            matInput 
            type="password" 
            placeholder="Enter your password" 
            formControlName="Password"
            matTooltip="Please enter your password"
            aria-label="Password"
          >
        </mat-form-field>

        <!-- OTP Field (Only visible if 2FA is required) -->
        <mat-form-field *ngIf="twoFactorRequired" class="full-width">
          <mat-label>OTP Code</mat-label>
          <input 
            matInput 
            formControlName="otpCode" 
            placeholder="Enter your OTP code"
            matTooltip="Check your email for the OTP code"
            aria-label="OTP Code"
          >
        </mat-form-field>

      </mat-card-content>

      <!-- Login Button (Disabled if 2FA is required) -->
      <button 
        mat-stroked-button 
        color="primary" 
        class="btn-block" 
        (click)="LoginUser()"
        [disabled]="twoFactorRequired"  
        matTooltip="Click to log in to your account"
      >
        Log in
      </button>
      <button color="primary" 
      class="btn-block" (click)="redirectToInstagram()">Login with Instagram</button>



      <!-- Verify OTP Button (Visible when 2FA is required) -->
      <button 
        *ngIf="twoFactorRequired" 
        mat-stroked-button 
        color="primary" 
        class="btn-block" 
        (click)="verify2FA()"
        matTooltip="Submit OTP code to complete login">Verify OTP
      </button>

      <!-- Register Link -->
      <div>Don't have an account? Register <a [routerLink]="['../register-guest']" matTooltip="Click to register a new account">here</a></div>

      <!-- Forgot Password Link -->
      <div>Forgot your password? Click <a [routerLink]="['../reset-password']" matTooltip="Click to reset your password">here</a></div>
    </form>
  </mat-card>

  <!-- Loading Spinner -->
  <mat-progress-spinner 
    mode="indeterminate" 
    value="50" 
    *ngIf="isLoading"
    aria-label="Loading"
  >
  </mat-progress-spinner>
</div>
