<mat-toolbar class="toolbar">
  <span class="title">Profile</span>
  <span class="spacer"></span>
  <p>{{ Email }}</p>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <mat-list-item routerLink="/view-guest-profile/{{ Email }}" routerLinkActive="active-link">
        Guest Profile
      </mat-list-item>
      <mat-list-item routerLink="/create-guest-profile" routerLinkActive="active-link">
        Create Guest Profile
      </mat-list-item>
    
      <mat-list-item routerLink="/search-room-booking" routerLinkActive="active-link">
        Room Bookings
      </mat-list-item>
      <mat-list-item routerLink="/booking-cart-page/{{ Email }}" routerLinkActive="active-link">
        Pay for Bookings
      </mat-list-item>
      <mat-list-item routerLink="/search-room-type" routerLinkActive="active-link">
        View Room Types
      </mat-list-item>
      <!-- <mat-list-item routerLink="/search-event-booking" routerLinkActive="active-link">
        Event Bookings
      </mat-list-item> -->
      <mat-list-item routerLink="/search-event-details" routerLinkActive="active-link">
        My Events
      </mat-list-item>
      <!-- <mat-list-item routerLink="/event-cart-page/{{ Email }}" routerLinkActive="active-link">
        Pay for Event/s
      </mat-list-item> -->
      <mat-list-item routerLink="/refund" routerLinkActive="active-link">
        Request For Refund
      </mat-list-item>
      <mat-list-item routerLink="/search-event-type" routerLinkActive="active-link">
        View Event Types
      </mat-list-item>
      <mat-list-item routerLink="/search-hall" routerLinkActive="active-link">
        View Halls
      </mat-list-item>
      <mat-list-item routerLink="/faq" routerLinkActive="active-link">
        FAQ
      </mat-list-item>
      <mat-list-item routerLink="/contact" routerLinkActive="active-link">
        Contact
      </mat-list-item>
      <mat-list-item routerLink="/feedback-form" routerLinkActive="active-link">
        feedback Form
      </mat-list-item>
      <mat-list-item routerLink="/payment/{{ Email }}" routerLinkActive="active-link">
        Payment
      </mat-list-item>
      <mat-list-item routerLink="/guest-qr-code" routerLinkActive="active-link">
        QR Code
      </mat-list-item>
      <mat-list-item routerLink="/change-password" routerLinkActive="active-link">
        Change Password
      </mat-list-item>
      <mat-list-item [routerLink]="['/search-policies-and-regulations', Email]" routerLinkActive="active-link">
        Policies and Regulations
      </mat-list-item>
      <mat-list-item (click)="logout()">
        Logout
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <div class="dashboard-container">
      <div class="cards-container">
        <mat-card class="card" routerLink="/view-guest-profile/{{ Email }}" routerLinkActive="active-card">
          <mat-card-title>Guest Profile</mat-card-title>
        </mat-card>
        <mat-card class="card" routerLink="/payment/{{ Email }}" routerLinkActive="active-card">
          <mat-card-title>Payment Details</mat-card-title>
        </mat-card>
        <mat-card class="card" routerLink="/faq" routerLinkActive="active-card">
          <mat-card-title>FAQ</mat-card-title>
        </mat-card>
        <mat-card class="card" routerLink="/contact" routerLinkActive="active-card">
          <mat-card-title>Contact Us</mat-card-title>
        </mat-card>
        <mat-card class="card" routerLink="/qr-code-scanner" routerLinkActive="active-card">
          <mat-card-title>Qr Scanner</mat-card-title>
        </mat-card>
        <mat-card class="card" routerLink="/change-password" routerLinkActive="active-card">
          <mat-card-title>Change Password</mat-card-title>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
