.mat-dialog-container {
    background-color: #fdf0bc !important; /* Light yellow background for dialog */
    padding: 20px;
  }
  
  h1 {
    color: #ffc107; /* Sunflower color for the title */
  }
  
  .mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .mat-form-field.mat-focused .mat-form-field-label {
    color: #ffc107 !important; /* Sunflower color for focused label */
  }
  
  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #ffc107 !important; /* Sunflower color for ripple */
  }
  
  .mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  button[mat-button] {
    color: #ffffff;
    background-color: #f39c12; /* Orange color for buttons */
    margin-left: 10px;
  }
  
  button[mat-button]:hover {
    background-color: #e49007; /* Slightly darker orange on hover */
  }
  