<!-- search-event-booking.component.html -->
<div class="container">
  <h1 class="heading">Event Booking</h1>
  <input
    type="text"
    placeholder="Search by name or description"
    [(ngModel)]="searchTerm"
    (input)="filterEventBookings()"
  />
  <button
    type="button"
    class="btn btn-link"
    (click)="GoToCreateEventBookingPage()"
  >
    Create A New Event Booking
  </button>
  <button (click)="goBack()">Back</button>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Date Created</th>
        <th>Date Modified</th>
        <th>Staff Name</th>
        <th>Event Type Name</th>
        <th>Hall Name</th>
        <th>Guest Name</th>
        <th>No of Attendees</th>
        <th>Update/Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of filteredEventBookings">
        <td>{{ booking.name }}</td>
        <td>{{ booking.description }}</td>
        <td>{{ booking.dateCreated }}</td>
        <td>{{ booking.dateModified }}</td>
        <td>{{ booking.staffId ? getStaffName(booking.staffId) : 'No staff involved' }}</td>
        <td>{{ booking.eventTypeId ? getEventTypeName(booking.eventTypeId) : 'Unknown' }}</td>
  <td>{{ booking.hallId ? getHallName(booking.hallId) : 'No hall' }}</td>
  <td>{{ booking.guestId ? getGuestName(booking.guestId) : 'No guest with profile' }}</td>
        <td>{{ booking.noOfAttendees }}</td>
        <button
          class="btn btn-update"
          (click)="updateEventBooking(booking.event_Booking_ID)"
        >
          Update
        </button>
        <button
          class="btn btn-delete"
          (click)="deleteEventBooking(booking.event_Booking_ID)"
        >
          Delete
        </button>
      </tr>
    </tbody>
  </table>
</div>
