<form #form="ngForm" (ngSubmit)="updateShiftType()" [formGroup]="shiftTypeForm">
    <mat-card-title>Edit Shift Type</mat-card-title>
    <mat-card-content>
      <div class="row mb-3">
        <mat-form-field class="col-6">
          <mat-label for="name">Name</mat-label>
          <input matInput style="border-color: darkgray;" type="text" id="name" name="name" formControlName="type_Name" placeholder="Enter shift type name">
        </mat-form-field>
      </div>
  
      <div class="row mb-3">
        <mat-form-field class="col-6">
          <mat-label for="description">Description</mat-label>
          <input matInput style="border-color: darkgray;" type="text" id="description" name="description" formControlName="type_Description" placeholder="Enter shift type description">
        </mat-form-field>
      </div>
    </mat-card-content>
  
    <mat-card-actions class="d-flex justify-content-end">
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button mat-button type="button" (click)="cancel()">Cancel</button>
    </mat-card-actions>
  </form>

