<div class="room-management">
    <h1>Room Management</h1>
    <button mat-button (click)="addRoom()">Add Room</button>
   
    <div class="room-cards">
      <div class="room-card" *ngFor="let room of rooms$ | async">
        <img [src]="room.imageUrl" alt="Room Image">
        <h2>{{ room.name }}</h2>
        <p>{{ room.description }}</p>
        <p>Price: {{ room.price | currency:'ZAR' }}</p>
        <p>Status: {{ room.roomStatus }}</p>
        <button mat-button (click)="updateRoom(room)">Update</button>
        <button mat-button (click)="deleteRoom(room.room_ID)">Delete</button>
        <button mat-button (click)="bookRoom(room.room_ID)" class="book-room-btn">
          Book Now
        </button>
        
      </div>
    </div>
  </div>
  <button  mat-button (click)="goBack()">Back</button>
  