<div class="container">
  <h1 class="heading">Update Event Booking</h1>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name</label>
      <input id="name" [(ngModel)]="eventBooking.name" name="name" required />
    </div>
    <div>
      <label for="description">Description</label>
      <input
        id="description"
        [(ngModel)]="eventBooking.description"
        name="description"
        required
      />
    </div>

    <div *ngIf="currentUserRole === 'Staff' || currentUserRole === 'Admin'">
      <label for="staffId">Staff Member</label>
      <select
        id="staffId"
        [(ngModel)]="eventBooking.staffId"
        name="staffId"
      >
        <option *ngFor="let staff of staffMembers" [value]="staff.staffId">
          {{ staff.name }}
        </option>
      </select>
    </div>

    <div>
      <label for="eventTypeId">Event Type</label>
      <select
        id="eventTypeId"
        [(ngModel)]="eventBooking.eventTypeId"
        name="eventTypeId"
        required
      >
        <option
          *ngFor="let eventType of eventTypes"
          [value]="eventType.eventTypeId"
        >
          {{ eventType.name }}
        </option>
      </select>
    </div>
    <div>
      <label for="hallId">Hall</label>
      <select
        id="hallId"
        [(ngModel)]="eventBooking.hallId"
        name="hallId"
        required
      >
        <ng-container *ngFor="let hall of halls">
          <option *ngIf="hall.availability" [value]="hall.hallID">
            {{ hall.name }}
          </option>
        </ng-container>
      </select>
    </div>

    <div *ngIf="currentUserRole === 'Guest'">
      <label for="guestId">Guest</label>
      <select
        id="guestId"
        [(ngModel)]="eventBooking.guestId"
        name="guestId"
      >
        <option *ngFor="let guest of guests" [value]="guest.guestId">
          {{ guest.name }}
        </option>
      </select>
    </div>

    <div>
      <label for="noOfAttendees">No of Attendees</label>
      <input
        id="noOfAttendees"
        [(ngModel)]="eventBooking.noOfAttendees"
        name="noOfAttendees"
        required
        type="number"
      />
    </div>
    <div>
      <label for="guestEmail">Guest Email</label>
      <input
        id="guestEmail"
        [(ngModel)]="eventBooking.guestEmail"
        name="guestEmail"
        required
        type="email"
      />
    </div>
    <div>
      <label for="guestPhone">Guest Phone</label>
      <input
        id="guestPhone"
        [(ngModel)]="eventBooking.guestPhone"
        name="guestPhone"
        required
        type="tel"
      />
    </div>
    <div>
      <label for="performanceReviewID"> Staff Performance Review</label>
      <select
        id="performanceReviewID"
        [(ngModel)]="eventBooking.performanceReviewID"
        name="performanceReviewID"
      >
        <option *ngFor="let review of performanceReviews" [value]="review.performanceReviewID">
          {{ review.performanceReviewID }}
        </option>
      </select>
    </div>
    <button type="submit" class="submit-button">Update Event Booking</button>
  </form>
</div>
