.container {
  margin: 20px;
}

.menu-card {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

h3 {
  color: #333;
}

.table {
  width: 100%;
  margin-top: 15px;
}

h4 {
  margin-top: 15px;
  color: #007bff;
}
