<div class="container">
  <h1 class="heading">Guest Profile</h1>
  <div *ngIf="guest; else errorContent">
    <p class="greeting">Hello {{ guest.name }} {{ guest.guest_Surname }}, welcome to Sunflower Guesthouse!</p>
    <table>
      <tr>
        <th>Name</th>
        <td>{{ guest.name }}</td>
      </tr>
      <tr>
        <th>Surname</th>
        <td>{{ guest.guest_Surname }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ guest.guest_Email }}</td>
      </tr>
      <tr>
        <th>Phone Number</th>
        <td>{{ guest.guest_PhoneNo }}</td>
      </tr>
      <tr>
        <th>Date of Birth</th>
        <td>{{ guest.dob | date }}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ guest.description }}</td>
      </tr>
    </table>
    <button (click)="editProfile()">Edit</button>
    <button (click)="deleteProfile()">Delete</button>
  </div>
  <ng-template #errorContent>
    <p>{{ errorMessage }}</p>
  </ng-template>
</div>
