$black: #000000;
$yellow: #FFD700; /* Gold */
$white: #FFFFFF;
$blue: #2c3e50; /* Dark Navy Blue */
$gold: #FFD700;
$brown: #A52A2A;

.header {
  text-align: center;
  padding: 40px;
  background-color: $blue;
  color: $white;
  background-size: cover;

  h1 {
    font-size: 3rem;
    color: $gold;
  }

  p {
    font-size: 1.2rem;
    color: $white;
  }
}

.search-bar {
  width: 60%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 10px;

  mat-form-field {
    width: 100%;
    color: $black;

    mat-label {
      color: $gold !important;
    }

    mat-icon {
      color: $brown;
    }

    .mat-input-element {
      color: $black;
      border-color: $gold;
    }
  }

  button {
    background-color: $yellow;
    color: $black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
}

.brochure-button {
  margin-top: 20px;
  background-color: $yellow;
  color: $black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.help-doc {
  margin: 20px 0;
}

.help-button {
  background-color: $gold;
  color: $black;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.category-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  button {
    margin: 0 10px;
    background-color: $white;
    color: $blue;
    border: 1px solid $blue;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
      background-color: $gold;
      color: $black;
    }

    &.active {
      background-color: $gold;
      color: $blue;
    }
  }
}

.faq-container {
  max-width: 800px;
  margin: 20px auto;
}

.mat-accordion {
  background-color: $white;

  mat-expansion-panel {
    margin: 10px 0;
    border: 1px solid $blue;
  }

  mat-expansion-panel-header {
    background-color: $blue;
    color: $white;

    mat-panel-title {
      color: $white;
    }
  }

  .mat-expansion-panel-body {
    background-color: $white;
    color: $blue;
    padding: 20px;
  }

  video, audio {
    margin-top: 10px;
    width: 300px;
    height: auto;
  }
}
