.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    text-align: left;
  }
  
  .pay-form {
    background-color: #fff;
    padding: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 1em;
  }
  
  button {
    width: 100%;
  }
  
