<form #form="ngForm" (ngSubmit)="updatefaq()" [formGroup]="faqForm">
  <mat-card-title>Edit FAQ</mat-card-title>
  <mat-card-content>
    <div class="row mb-3">
      <mat-form-field class="col-6">
        <mat-label for="question">Question</mat-label>
        <input matInput style="border-color: darkgray;" type="text" id="question" name="question" formControlName="question" placeholder="Enter question">
        <mat-error *ngIf="faqForm.get('question')?.invalid && faqForm.get('question')?.touched">Question is required</mat-error>
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field class="col-6">
        <mat-label for="answer">Answer</mat-label>
        <input matInput style="border-color: darkgray;" type="text" id="answer" name="answer" formControlName="answer" placeholder="Enter Answer">
        <mat-error *ngIf="faqForm.get('answer')?.invalid && faqForm.get('answer')?.touched">Answer is required</mat-error>
      </mat-form-field>
    </div>

    <!-- Category Field -->
    <div class="row mb-3">
      <mat-form-field class="col-6">
        <mat-label for="category">Category</mat-label>
        <mat-select formControlName="category" placeholder="Select Category">
          <mat-option value="General">General</mat-option>
          <mat-option value="Booking">Booking</mat-option>
          <mat-option value="Check-in">Check-in</mat-option>
          <mat-option value="Check-out">Check-out</mat-option>
          <mat-option value="Navigation">Navigation</mat-option>
          <mat-option value="Refund">Refund</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Video URL Field -->
    <div class="row mb-3">
      <mat-form-field class="col-6">
        <mat-label for="videoUrl">Video URL (optional)</mat-label>
        <input matInput style="border-color: darkgray;" type="url" id="videoUrl" name="videoUrl" formControlName="videoUrl" placeholder="Enter Video URL">
      </mat-form-field>
    </div>

    <!-- Audio URL Field -->
    <div class="row mb-3">
      <mat-form-field class="col-6">
        <mat-label for="audioUrl">Audio URL (optional)</mat-label>
        <input matInput style="border-color: darkgray;" type="url" id="audioUrl" name="audioUrl" formControlName="audioUrl" placeholder="Enter Audio URL">
      </mat-form-field>
    </div>
  </mat-card-content>

  <mat-card-actions class="d-flex justify-content-end">
    <button mat-raised-button color="primary" type="submit">Save</button>
    <button mat-button type="button" (click)="cancel()">Cancel</button>
  </mat-card-actions>
</form>
