<div class="container">
    <h2>Event Menu Items</h2>
  
     <!-- Create new Menu Item button -->
  <button class="btn btn-success" (click)="navigateToCreate()">Create New Menu Item</button>
    <!-- Search bar -->
    <input type="text" [(ngModel)]="searchText" placeholder="Search by name or description" class="form-control" />
  
    <!-- Table for displaying event menu items -->
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Event Menu</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredEventMenuItems()">
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.price | currency: 'ZAR' }}</td>
          <td>{{ getEventMenuName(item.eventMenuID) }}</td>
          <td>
            <button class="btn btn-primary" (click)="navigateToUpdate(item.eventMenuItemID)">Update</button>
            <button class="btn btn-danger" (click)="confirmDelete(item.eventMenuItemID)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
