.room-management {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e49007;
  
    h1 {
      color: #ffc107; /* Sunflower yellow color */
    }
    button[mat-button] {
      color: #ffffff;
      background-color:  #f39c12; /* Orange color for buttons */
      margin-bottom: 20px;
    }
    
    button[mat-button]:hover {
      background-color:#e49007; /* Slightly darker orange on hover */
    
    }
  
    .room-cards {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
  
      .room-card {
        width: 300px;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 16px;
        text-align: center;
        background-color: #f9f9f9;
  
        img {
          width: 100%;
          border-radius: 8px;
        }
  
        h2 {
          margin: 8px 0;
          color: brown; /* brown color */
        }
  
        p {
          margin: 4px 0;
        color: #333; ;
        }
  
        button[mat-button] {
          color: #ffffff;
          background-color:  #f39c12; /* Orange color for buttons */
          margin: auto;
          display: inline-block;
          margin-bottom: 20px;
        }
        
        button[mat-button]:hover {
          background-color:#e49007; /* Slightly darker orange on hover */
        
        }
        
      }
    }

    
    button[mat-button] {
      color: #ffffff;
      background-color:  #f39c12; /* Orange color for buttons */
      margin-bottom: 20px;
    }
    
    button[mat-button]:hover {
      background-color:#e49007; /* Slightly darker orange on hover */
    
    }
  }
  