.search-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-container h1 {
    text-align: center;
    color: #f39c12;;
  }
  
  .search-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: rgb(123, 81, 3);
    color: #fff;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tbody tr:hover {
    background-color: #f5f5f5;
  }

  button[mat-button] {
    color: #ffffff;
    background-color:  #f39c12; /* Orange color for buttons */
    margin-bottom: 10px;
    margin-right:0%
  }
  
  button[mat-button]:hover {
    background-color:#e49007; /* Slightly darker orange on hover */
  
  }