<div class="container">
    <h1>Today: {{ today | date : "fullDate" }}</h1>
    <div *ngIf="staffShift">
      <p>Start Time: {{ staffShift.startTime | date : "short" }}</p>
      <p>End Time: {{ staffShift.endTime | date : "short" }}</p>
    </div>
  
    <p>Elapsed Time: {{ timeElapsed }}</p>
    <button *ngIf="!staffShift?.clockIn" (click)="clockIn()">Clock In</button>
    <button
      *ngIf="staffShift?.clockIn && !staffShift?.clockOut"
      (click)="clockOut()"
    >
      Clock Out
    </button>
    <p *ngIf="totalTime">Total Time: {{ totalTime }}</p>
  </div>
  <!-- <button *ngIf="!staffShift?.clockIn" (click)="clockIn()">Clock In</button>
    <div *ngIf="staffShift?.clockIn">
      <p>Clocked In: {{ staffShift?.actualClockInTime | date : "shortTime" }}</p>
      <p>Time Elapsed: {{ timeElapsed }}</p>
      <button *ngIf="!staffShift?.clockOut" (click)="clockOut()">
        Clock Out
      </button>
    </div>
    <div *ngIf="staffShift?.clockOut">
      <p>Total Time: {{ totalTime }}</p>
      <p>Started: {{ staffShift?.actualClockInTime | date : "short" }}</p>
      <p>Ended: {{ staffShift?.actualClockOutTime | date : "short" }}</p>
    </div>
  </div> -->
  
