.contact-us-container {
  display: flex;
  justify-content: space-between;
  background-image: url('/assets/sfg_front.jpeg');
  background-size: cover;
  padding: 50px;
  color: white;
}

.contact-info {
  width: 40%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
}

.contact-info h2 {
  color: #fbc02d; /* Dark yellow */
}

.info-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.info-item i {
  font-size: 20px;
  margin-right: 10px;
}

.contact-form {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  color: black;
}

.contact-form h3 {
  color: #333;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  background-color: #fbc02d; /* Dark yellow */
  border: none;
  padding: 10px 20px;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}
 
p{color: #333;}
i {color: #333;}