<div class="container">
  <h1 class="heading">Update Event Type</h1>
  <form (ngSubmit)="updateEventType()" #eventTypeForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        [(ngModel)]="eventType.name"
        name="name"
        required
        #name="ngModel"
      />
      <div
        *ngIf="name.invalid && (name.dirty || name.touched)"
        class="text-danger"
      >
        <div *ngIf="name.errors?.['required']">Name is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        id="description"
        class="form-control"
        [(ngModel)]="eventType.description"
        name="description"
        required
        #description="ngModel"
      ></textarea>
      <div
        *ngIf="
          description.invalid && (description.dirty || description.touched)
        "
        class="text-danger"
      >
        <div *ngIf="description.errors?.['required']">
          Description is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="isCatered">Is Catered</label>
      <select
        id="isCatered"
        class="form-control"
        [(ngModel)]="eventType.isCatered"
        name="isCatered"
        required
        #isCatered="ngModel"
      >
        <option [ngValue]="true">True</option>
        <option [ngValue]="false">False</option>
      </select>
      <div
        *ngIf="isCatered.invalid && (isCatered.dirty || isCatered.touched)"
        class="text-danger"
      >
        <div *ngIf="isCatered.errors?.['required']">
          Is Catered is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="standardRate">Standard Rate</label>
      <input
        type="number"
        id="standardRate"
        class="form-control"
        [(ngModel)]="eventType.standardRate"
        name="standardRate"
        required
        #standardRate="ngModel"
      />
      <div
        *ngIf="
          standardRate.invalid && (standardRate.dirty || standardRate.touched)
        "
        class="text-danger"
      >
        <div *ngIf="standardRate.errors?.['required']">
          Standard Rate is required.
        </div>
      </div>
    </div>

    <button
      type="submit"
      class="submit-button"
      [disabled]="eventTypeForm.invalid"
    >
      Update Event Type
    </button>
    <button (click)="goBack()">Back</button>
  </form>
</div>
