<div *ngIf="bookings.length === 0">
  <p>No bookings in your cart.</p>
</div>

<div *ngFor="let booking of bookings" class="booking-card">
  <h3>{{ booking.name }}</h3>
  <!-- <p>{{ booking.description }}</p> -->
  <p>Total Price: R{{ booking.totalPrice }}</p>
  //Check this method for booking and how you now change status to Paid
  <button (click)="MakePayment(booking)">
    <!-- [disabled]="booking.status === 'Paid'" -->
    Make Payment
  </button>
  //Define new method to change the booking status
  <!-- <p *ngIf="booking.status === 'Paid'" class="paid-status">Status: Paid</p> -->
</div>
