<div class="container" *ngIf="policy">
  <h1 class="header">Update Policy/Regulation</h1>
  <form #policyForm="ngForm" (ngSubmit)="updatePolicy(policyForm)">
    <div>
      <label for="name">Name:</label>
      <input
        id="name"
        [(ngModel)]="policy.name"
        name="name"
        required
        #name="ngModel"
        [ngClass]="{ error: name.invalid && (name.dirty || name.touched) }"
      />
      <div
        *ngIf="name.invalid && (name.dirty || name.touched)"
        class="error-message"
      >
        Name is Required
      </div>
    </div>

    <div>
      <label for="description">Description:</label>
      <input
        id="description"
        [(ngModel)]="policy.description"
        name="description"
        required
        #description="ngModel"
        [ngClass]="{
          error: description.invalid && (description.dirty || description.touched)
        }"
      />
      <div
        *ngIf="description.invalid && (description.dirty || description.touched)"
        class="error-message"
      >
        Description is Required
      </div>
    </div>

    <button type="submit" [disabled]="policyForm.invalid">
      Update Policy/Regulation
    </button>
  </form>
</div>
<div *ngIf="!policy">Loading policy/regulation data...</div>
