<div class="summary-container">
    <h2>Booking Summary</h2>
    
    <div *ngIf="booking">
      <p><strong>Booking Reference:</strong> {{ bookingReference }}</p>
      <p><strong>Name:</strong> {{ booking.name }} {{ booking.surname }}</p>
      <p><strong>Email:</strong> {{ booking.email }}</p>
      <p><strong>Contact Number:</strong> {{ booking.contactNumber }}</p>
      <p><strong>Check-In Date:</strong> {{ booking.checkIn | date: 'longDate' }}</p>
      <p><strong>Check-Out Date:</strong> {{ booking.checkOut | date: 'longDate' }}</p>
      <p><strong>Include Breakfast:</strong> {{ booking.includeBreakfast ? 'Yes' : 'No' }}</p>
      <p><strong>Promo Code:</strong> {{ booking.promoCode || 'None' }}</p>
      <!-- <p><strong>Total Price:</strong> {{ booking.totalPrice | currency: 'ZAR' }}</p> -->
      <p><strong>Total Price (Excl. VAT):</strong> {{ priceExclVAT | currency: 'ZAR' }}</p>
      <p><strong>VAT Amount:</strong> {{ vatAmount | currency: 'ZAR' }}</p>
      <p><strong>Total Price (Incl. VAT):</strong> {{ booking.totalPrice | currency: 'ZAR' }}</p>
  
      <div class="summary-buttons">
        <button (click)="proceedToPayment()" class="pay-btn">Proceed to Payment</button>
        <button (click)="goHome()" class="home-btn">Go Home</button>
      </div>
    </div>
    
    <div *ngIf="!booking" class="error-message">
      <p>No booking details available.</p>
    </div>
  </div>
  <div>
    <app-back-button></app-back-button>
  </div>
  
