.event-menus {
    table {
      width: 100%;
      border-collapse: collapse;
      th, td {
        border: 1px solid #d6d309;
        padding: 8px;
      }
    }
    .actions {
      margin-top: 20px;
    }
  }
  